.bp-block {

	.breadcrumbs {
		margin: 30px 0 40px;

		@include mw1024 {
			margin: 20px 0 40px;
		}

		@include mw768 {
			margin: 10px 0 30px;
		}
	}

	.h1 {
		margin-bottom: 20px;
	}
}

.post-container {
	margin: 0 auto;
	max-width: 660px;
}

article {
	margin-bottom: 40px;
	padding: 20px 30px 0;
	@include mw768 {
		padding: 20px 0 0;
	}

	.info {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		gap: 10px 30px;
		flex-wrap: wrap;

		&>span {
			display: inline-block;
			color: var(--gray600);
			font-size: 18px;
			line-height: 28px;
		}

		&>a {
			padding: 6px 15px;
			color: var(--accent);
			border: 1px solid var(--accent);
			border-radius: 10px;
			font-size: 14px;
			line-height: 18px;
		}
	}

	.h3 {
		margin: 40px 0 20px;
	}

	&>p {
		margin-bottom: 15px;
		font-size: 18px;

		&+button {
			margin-top: 5px;
		}
		@include mw768 {
			font-size: 16px;
			line-height: 26px;
		}
	}

	img {
		display: block;
		width: 100%;
		margin: 40px 0;
	}
}

.post-form {
	margin: 0 auto;
	padding: 40px 30px;
	max-width: 660px;
	background-color: var(--gray200);
	@include mw768 {
		margin: 0 -20px;
	}

	.h3 {
		margin-bottom: 20px;
	}

	p+p {
		margin-top: 15px;
	}

	.bp-form {
		margin-top: 40px;
		display: grid;
		width: 100%;
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		@include mw768 {
			display: flex;
			flex-direction: column;
		}
		
		&>label {position: relative;}

		input:not([type="checkbox"]) {
			padding: 10px 12px 10px 20px;
			height: 56px;
			background-color: var(--white);
			width: 100%;
		}

		&__textarea {
			grid-column: 1 / 3;
			textarea {
				padding: 20px;
				width: 100%;
				height: 120px;
				resize: none;
				background-color: var(--white);
			}
		}

		.chbx {
			grid-column: 1 / 3;
			font-size: 14px;
			line-height: 18px;
			display: block;
			margin: 5px 0 25px;

			&>span {
				white-space: nowrap;
				a {
					white-space: normal;
				}
			}

			a {
				&:hover {
					text-decoration: underline;
				}
			}

			@include mw768 {
				margin: 0 0 10px
			}
		}

		.btn {
			justify-self: flex-start;
		}
	}
}
.error-msg {
	position: absolute;
	bottom: 60px;
	left: 0;
	color: var(--danger);
	font-size: 14px;
	line-height: 18px;
	&+input,
	&+textarea {
		margin-top: 15px;
		border: 1px solid var(--danger);
	}
}