.header {
	@include mw1024 {
		padding: 10px 0
	}

	@include mw768 {
		padding-top: 0;
	}

	&__top {
		margin-bottom: 15px;
		padding: 10px 0;
		background-color: var(--gray200);

		@include mw1024 {
			display: none
		}

		@include mw768 {
			display: block;
			background-color: var(--accent);
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include mw768 {justify-content: center;}
		}

		&-city {
			display: inline-flex;
			align-items: center;
			gap: 10px;
			color: var(--gray600);
			font-weight: 500;
			font-size: 18px;

			.i-city {
				width: 18px;
				height: 18px;
				fill: var(--gray600);
			}

			@include mw768 {
				display: none
			}
		}

		&-btns {
			display: flex;
			align-items: center;
			gap: 40px;
		}

		&-links {
			display: flex;
			gap: 20px;

			&>a {
				color: var(--gray600);
				font-weight: 500;
				transition: color 0.2s ease-out;
				&:hover {
					color: var(--accent);
				}

				@include mw768 {
					color: var(--white);
					font-weight: 400;
					font-size: 14px;
				}
			}

			@include mw768 {
				.top-btns__email {
					display: none
				}

				.divider {
					display: none
				}
			}
		}

		&-socials {
			display: flex;
			align-items: center;
			gap: 30px;

			@include mw768 {
				display: none
			}

			&>a {
				img {
					transition: transform 0.2s ease-out;
				}

				&:hover {
					img {
						transform: scale(1.1);
					}
				}

				&:active {
					img {
						transform: scale(0.95);
					}
				}
			}

		}

		&-search {
			margin-left: -10px;

			svg {
				fill: var(--gray600);
				transition: transform 0.2s ease-out;
			}

			&:hover {
				svg {
					transform: scale(1.1);
				}
			}

			&:active {
				svg {
					transform: scale(0.95);
				}
			}

			@include mw768 {
				display: none
			}
		}
	}
}

.bottom-btns {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px 30px;
	flex-wrap: wrap;

	@include mw1024 {
		margin-left: auto
	}

	@include mw768 {
		margin-left: unset;
		display: none;
	}

	&>.jsOpenLK {
		display: inline-flex;
		gap: 10px;

		@include mw1024 {
			display: none;
		}
	}

	&__search {
		display: none;
		width: 24px;
		height: 24px;

		@include mw1024 {
			display: block
		}

		@include mw768 {
			margin-left: auto
		}

		svg {
			fill: var(--gray600);
			transition: transform 0.2s ease-out;
		}

		&:hover {
			svg {
				transform: scale(1.1);
			}
		}

		&:active {
			svg {
				transform: scale(0.95);
			}
		}
	}
}

.top-btns__tel {
	display: flex;
	align-items: center;
	gap: 10px;

	&>svg {
		display: none;

		@include mw768 {
			display: block;
			width: 16px;
			height: 16px;
			fill: var(--white)
		}
	}
}