.testimonials {
	.h2 {
		margin-bottom: 40px;

		@include mw768 {
			margin-bottom: 30px;
		}
	}

	&__table {
		display: grid;
		grid-template-columns: 66.6% 33.4%;
		grid-gap: 20px;
		width: 100%;
		@include mw1024 {
			grid-template-columns: 100%;
			grid-gap: 60px;
		}
		@include mw768 {grid-gap: 40px;}

		&-row {
			width: 100%;
			&:last-child {
				padding: 0 20px;
				background-color: var(--gray200);

				.ya-card {
					display: block;
					margin-top: 128px;
					text-align: center;

					img {
						max-width: 383px;
						width: 100%;
						aspect-ratio: 383 / 486;
						border-radius: 8px;
					}
					@include mw1024 {
						margin: 0;
						padding: 60px 0;
					}
					@include mw768 {padding: 40px 0;}					
				}
			}
		}

	}

	&__grid {
		margin-bottom: 40px;
		overflow: hidden;
		@include mw575 {
			margin-bottom: 60px;
		}

		&-wrapper {
			margin-top: 60px;
			position: relative;

			.swiper-slide {
				padding: 20px;
				display: flex;
				flex-direction: column;
				min-height: 480px;
				border: 1px solid var(--gray400);
				border-radius: 10px;
				height: auto;

				.quote {
					margin-bottom: 38px;
					text-align: right;
					@include mw1024{margin-bottom: 18px;}
				}
				.client {
					margin-top: auto;
					padding-top: 20px;
					display: flex;
					flex-direction: column;
					gap: 5px;
					&>span {
						color: var(--gray600);
						font-style: italic;
						@include mw1024 {
							font-size: 16px;
							line-height: 26px;
							letter-spacing: -0.4px;
						}
					}					
				}
			}

			.testimonials__pagination {
				position: absolute;
				top: 6px !important;
				right: 0 !important;
				bottom: unset !important;
				left: unset !important;
				width: auto;
				&>span {
					width: 10px;
					height: 10px;
				}

				@include mw575 {
					top: unset !important;
					right: unset !important;
					bottom: 76px !important;
					left: 50% !important;
					transform: translateX(-50%) !important;
				}
			}
			.swiper-pagination-bullet {
				background-color: var(--gray400);
				opacity: 1;
			}
			.swiper-pagination-bullet-active {background-color: var(--accent);}
		}

		&-item {
			padding: 12px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
	}
}