//- modal-search
.search {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;	
	color: var(--dark);

	&-bg {
		transform: translateY(-150%);
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		z-index: 11;
		background: #111111cc;
		transition: transform 0.5s ease-in-out;

		display: flex;
		justify-content: center;

		&.show {
			transform: translateY(0);
		}
	}

	&-wrapper {
		margin: 0 auto;
		padding: 0 var(--container-padding);
		width: 100%;
		height: 118px;	
		background-color: var(--white);
	}

	&-form {
		padding: 30px 50px;
		max-width: 772px;
		width: 100%;
		@include mw768 {padding: 20px 30px 20px 10px;}

		&__fields {
			display: flex;
			align-items: center;
			gap: 30px;
			&>input {
				width: 100%;
			}
		}
	}

	&-close {
		width: 22px;
		height: 22px;
		svg {
			fill: var(--gray600);
			width: 20px;
			height: 20px;
		}
	}
}