section.lk-contacts.offset
	.container
		.lk-contacts__grid
			.lk-contacts__grid-item
				div.lk-contacts__grid-row
					.h3 ОФИС
					p Санкт-Петербург, г. Колпино, ул. Финляндская,  д. 9 стр. 1, офис 202
					p Режим работы: ежедневно с 09.00 до 20:00
				div.lk-contacts__grid-row
					.h3 ПРОИЗВОДСТВО
					p Санкт-Петербург, г. Колпино, пр. Ленина д. 101, территория КСМ
					p Режим работы: пн-пт с 10.00 до 18.00, сб, вс - выходные дни
				button(class="btn btn--accent btn--xl brs-12 jsOpenModal") Заказать обратный звонок
			.lk-contacts__grid-item
				div.lk-contacts__grid-row
					.h3 ТЕЛЕФОН
					a(href="tel:+78007757098") +7 (800) 775-70-98
				div.lk-contacts__grid-row
					.h3 ЭЛЕКТРОННАЯ ПОЧТА
					a(href="mailto:hello@vid-group.ru") hello@vid-group.ru

				.ftc-socials
					a(href="javascript:")
						+img-svg('sq-wa')
					a(href="javascript:")
						+img-svg('sq-tg')
					a(href="javascript:")
						+img-svg('sq-vk')
			.lk-contacts__grid-item
				.lk-contacts__grid-row
					button(class="btn btn--accent btn--xl brs-12 jsOpenModal") Заказать обратный звонок
				.lk-contacts__grid-row
					.ftc-socials.mid-show
						a(href="javascript:")
							+img-svg('sq-wa')
						a(href="javascript:")
							+img-svg('sq-tg')
						a(href="javascript:")
							+img-svg('sq-vk')