section.about-choiced.offset
	.container
		.h2.mb30-sm20 Почему выбирают нас
		.about-choiced__grid
			.about-choiced__grid-item
				.img
					img(src="images/icon-A.png", alt="")
				.inner-top
					.h3 Свяжитесь с нами
					a(href="tel:+78007757098") +7 (800) 775-70-98
					a(href="mailto:hello@vid-group.ru") hello@vid-group.ru
				.inner-bottom
					.h3 Или задайте вопрос онлайн
					.ftc-socials
						a(href="javascript:")
							+img-svg('col-wa')
						a(href="javascript:")
							+img-svg('col-tg')
			.about-choiced__grid-item
				.img
					+img-svg('ch-icon-5')
				.h3 Расчёт за 1 день
				span Оценим работу точно по ТЗ. Приедем сразу на  замер
			.about-choiced__grid-item
				.img
					+img-svg('ch-icon-6')
				.h3 Расчёт за 1 день
				span Оценим работу точно по ТЗ. Приедем сразу на  замер
			.about-choiced__grid-item
				.img
					+img-svg('ch-icon-7')
				.h3 Расчёт за 1 день
				span Оценим работу точно по ТЗ. Приедем сразу на  замер
			.about-choiced__grid-item
				.img
					+img-svg('ch-icon-8')
				.h3 Расчёт за 1 день
				span Оценим работу точно по ТЗ. Приедем сразу на  замер
			.about-choiced__grid-item
				.img
					+img-svg('ch-icon-1')
				.h3 Расчёт за 1 день
				span Оценим работу точно по ТЗ. Приедем сразу на  замер
			.about-choiced__grid-item
				.img
					+img-svg('ch-icon-9')
				.h3 Расчёт за 1 день
				span Оценим работу точно по ТЗ. Приедем сразу на  замер