section.about-team.offset
	.container-right
		.h2 Наша команда
		.text 
			span Команда «Вид-Групп» — это ваш помощник и единомышленник в предпринимательском деле.
		.about-team__grid.jsCatList
			.about-team__grid-wrapper
				.about-team__grid-item
					.img
						img(src="uploads/team/team-1.jpg", alt="")
					.h3 Александр
					span Директор 
				.about-team__grid-item
					.img
						img(src="uploads/team/team-2.jpg", alt="")
					.h3 Александра
					span Коммерческий директор 
				.about-team__grid-item
					.img
						img(src="uploads/team/team-3.jpg", alt="")
					.h3 Дмитрий
					span Дизайнер 
				.about-team__grid-item
					.img
						img(src="uploads/team/team-4.jpg", alt="")
					.h3 Валентин
					span Менеджер отдела продаж
