section.about-page.offset
	.container
		+breadcrumb(['Главная'],
			'О компании',
			'',
			['/', 'about.html'])
		.hero-home__promo
			.hero-home__content
				.h1 Мастерская наружной рекламы
				p ВИД-Групп с 2016 года успешно работает на рынке наружной рекламы в Санкт-Петербурге. Нам по силам проекты любой сложности! Компания обладает штатом высококлассных специалистов и собственным производством. Мы изготавливаем любые виды вывесок, а также навигационное оформление, для ресторанов, кафе, офисов и магазинов. Разрабатываем комплексные решения для бизнес-центров и общественных пространств.
			.hero-home__img
				img(src="images/hero-about.jpg")
		
