footer.footer
	.container
		.footer__top
			.footer__top-contacts.ftc
				a.ftc-logo(href="/")
					+img-svg('logo')

				.ftc-links
					a(href="tel:+78007757098") +7 (800) 775-70-98
					a(href="mailto:hello@vid-group.ru") hello@vid-group.ru

				.ftc-socials
					a(href="javascript:")
						+img-svg('r-vk')
					a(href="javascript:")
						+img-svg('r-wa')
					a(href="javascript:")
						+img-svg('r-tg')

			.footer__top-item
				span.foo-list__title Наши услуги
				ul.foo-list
					li
						a(href="jservices-page.html") Объёмные буквы
					li
						a(href="services-page.html") Световые короба
					li
						a(href="services-page.html") Неоновые вывески
					li
						a(href="services-page.html") Панель-кронштейн
					li
						a(href="services-page.html") Таблички и указатели
					li
						a(href="services-page.html") Рекламные стелы и пилоны
					li
						a(href="services-page.html") Вывески
					li
						a(href="services-page.html") Крышные установки

			.footer__top-item
				span.foo-list__title Информация
				ul.foo-list
					li
						a(href="about.html") О компании
					li
						a(href="sign.html") Как заказать вывеску
					li
						a(href="projects.html") Наши работы
					li
						a(href="blog.html") Полезные статьи
					li
						a(href="contacts.html") Контакты
					li
						a(href="faq.html") Вопрос-ответ

		.footer__policy
			span &copy;2024 ВИД-Групп
			a(href="error-404.html") Политика конфиденциальности
