footer.footer
	.container
		.footer__top
			.footer__top-contacts.ftc
				a.ftc-logo(href="/")
					+img-svg('logo')

				.ftc-links
					a(href="tel:+78007757098") +7 (800) 775-70-98
					a(href="mailto:hello@vid-group.ru") hello@vid-group.ru

				.ftc-socials
					a(href="javascript:")
						+img-svg('r-vk')
					a(href="javascript:")
						+img-svg('r-wa')
					a(href="javascript:")
						+img-svg('r-tg')

			.footer__top-item
				span.foo-list__title Наши услуги
				ul.foo-list
					li
						a(href="javascript:") Объёмные буквы
					li
						a(href="javascript:") Световые короба
					li
						a(href="javascript:") Неоновые вывески
					li
						a(href="javascript:") Панель-кронштейн
					li
						a(href="javascript:") Таблички и указатели
					li
						a(href="javascript:") Рекламные стелы и пилоны
					li
						a(href="javascript:") Вывески
					li
						a(href="javascript:") Крышные установки

			.footer__top-item
				span.foo-list__title Информация
				ul.foo-list
					li
						a(href="javascript:") О компании
					li
						a(href="javascript:") Как заказать вывеску
					li
						a(href="javascript:") Наши работы
					li
						a(href="javascript:") Полезные статьи
					li
						a(href="javascript:") Контакты
					li
						a(href="javascript:") Вопрос-ответ

		.footer__policy
			span &copy;2024 ВИД-Групп
			a(href="#") Политика конфиденциальности
