.none {
	display: none !important;
}
.no-scroll {
	overflow: hidden !important;
}
.v-hidden {
	position: absolute;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0;
	padding: 0 !important;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden !important;
}
.d-flex {display: flex;}
.d-flex-ac {
	display: flex;
	align-items: center;
}
.tac {text-align: center;}

.divider {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: var(--gray600);
	line-height: 29px;
}
.brs-8 {border-radius: 8px;}
.brs-12{border-radius: 12px;}

.accent-color { color: var(--accent); }
.accent-bg { background-color: var(--accent); }

.underline {
	position: relative;
	&::after {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -5px;
		background-color: var(--accent);
		opacity: 0;
		transition: opacity 0.2s;
	}
	&:hover::after {
		opacity: 1;
	}
}

.mt40-sm30 {
	margin-top: 40px !important;
	@include mw768 {margin-top: 30px !important;}
}
.mb40-sm30 {
	margin-bottom: 40px !important;
	@include mw768 {margin-bottom: 30px !important;}
}
.mb30-sm20 {
	margin-bottom: 30px !important;
	@include mw768 {margin-bottom: 20px !important;}
}
.w100vw {width: 100vw;}

.mobile-none {@include mw768 {display: none;}}
.mobile-db-show {
	display: none;
	@include mw768 {display: block;}
}
.mobile-df-show {
	display: none;
	@include mw768 {display: flex;}
}

.underline-color {
	position: relative;
	transition: color 0.2s ease-out;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		height: 1px;
		max-width: 0;
		width: 100%;
		overflow: hidden;
		background-color: var(--accent);
		transition: max-width 0.2s ease-out;
	}

	&:hover {
		color: var(--accent);
		&::after {
			max-width: 100%;
		}
	}
	
}

#overlay {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000AA;
	transition: opacity 0.25s ease-out;
	pointer-events: none;
	opacity: 0;
	pointer-events: none;

	&.show {
		opacity: 1;
		pointer-events: auto;
		z-index: 99;
	}
}

[data-moblink] {
	cursor: auto;
	@include mw768 {cursor: pointer;}
}

.show {
	&-xl {
		display: block;
		@include mw1024 {display: none}
	}
	&-lg {
		display: none;
		@include mw1024 {display: block}
		@include mw768 {display: none}
	}
	&-sm {
		display: none;
		@include mw768 {display: block}		
	}
}

.clap {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

//animation: show 0.3s linear;
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
