//- start modal LK
.lk-bg
	.lk
		button(class="lk-close")
			+mono-svg('close')

		.h2 Вход в личный кабинет
		
		form(class="lk-form jsLoginForm")
			label
				input(type="text" name="userLogin" placeholder="Имя пользователя или email")
			label
				input(type="password" name="userPass" placeholder="Пароль")

			button(class="btn btn--accent btn--lg brs-8" type="submit") Войти
//- end modal LK