.m-menu__bg
	.m-menu
		button.m-menu__close
			+mono-svg('close')

		ul.m-menu__list
			li
				span.drop Услуги
				ul.droplist
					li
						a(href="services.html") Все услуги
					li
						a(href="services-page.html") Объемные буквы
					li
						a(href="services-page.html") Световые короба
					li
						a(href="services-page.html") Неоновые панели
					li
						a(href="services-page.html") Панель-кронштейн
					li
						a(href="services-page.html") Таблички и указатели
					li
						a(href="services-page.html") Стеллы и пилоны
					li
						a(href="services-page.html") Крышные установки
					li
						a(href="services-page.html") Установка и демонтаж вывесок
					li
						a(href="services-page.html") Согласование вывесок
					li
						a(href="services-page.html") Комплексное оформление объектов
			li
				span.drop О компании
				ul.droplist
					li
						a(href="lk.html") Личный кабинет
					li
						a(href="prices.html") Цены
					li
						a(href="sign.html") Как заказать вывеску
					li
						a(href="error-404.html") Вакансии
			li
				span.drop Блог
				ul.droplist
					li
						a(href="blog.html") Блог
					li
						a(href="blog-page.html") Новости
					li
						a(href="blog-page.html") Полезные статьи
					li
						a(href="blog-page.html") Справочные статьи по продуктам
			li
				a(href="projects.html") Наши работы
			li
				a(href="contacts.html") Контакты

		.m-menu__btns
			button.btn.btn--accent.brs-8.btn--lg.btn--full.jsOpenModal Заказать звонок
			button.btn.btn--trans-accent.brs-8.btn--lg.btn--full.jsOpenLK
				i
				| Войти
		.m-menu__socials
			a(href="#", title="Whatsapp")
				+img-svg('col-wa')
			a(href="#", title="Telegram")
				+img-svg('col-tg')
