//- start modal search
.search-bg
	.search-wrapper
		.search
			form(class="search-form jsSearchForm")
				.search-form__fields
					button(type="submit")
						+mono-svg('search')
					input(type="text" name="userName" placeholder="Поиск по сайту")
			button(class="search-close")
				+mono-svg('close')
//- end modal search