extends layout/default 

block variables
	-var title = 'О компании'

block content
	include templates/about/abt-hero
	include templates/about/abt-choiced
	include templates/about/abt-team
	include templates/about/abt-production
	include templates/home/testimonials
	include templates/home/clients
	include templates/home/design-promo
	include templates/home/blurb-in-spb