extends layout/default 

block variables
	-var title = 'Главная страница'

block content
	include templates/home/hero
	include templates/home/signs
	include templates/home/design-promo
	include templates/home/our-services
	include templates/home/sales-hit
	include templates/home/our-works
	include templates/home/draft-free
	include templates/home/clients
	include templates/home/testimonials
	include templates/home/examples
	include templates/home/quiz
	include templates/home/agreement
	include templates/home/useful-posts
	include templates/home/blurb-in-spb
	