extends layout/default 

block variables
	-var title = 'Цены'

block content
	include templates/prices/prc-hero
	include templates/prices/prc-price-list

	include templates/home/design-promo
	include templates/service-page/sp-calc