extends layout/default 

block variables
	-var title = 'Услуги'

block content
	include templates/services/our-services
	include templates/services/add-services
	include templates/home/design-promo
	include templates/home/blurb-in-spb