extends layout/default 

block variables
	-var title = 'Как заказать вывеску'

block content
	include templates/sign/sign-hero
	include templates/sign/sign-steps
	include templates/home/our-works
	include templates/home/draft-free
	include templates/projects/prj-examples
	include templates/home/agreement
	include templates/home/blurb-in-spb