section.add-services.offset
	.container
		.h2 Наши дополнительные услуги
		.add-services__grid
			a(class="btn btn--white-sq" href="javascript:") РАЗРАБОТКА ДИЗАЙНА
			a(class="btn btn--white-sq" href="javascript:") ЗАМЕРЫ
			a(class="btn btn--white-sq" href="javascript:") МОЙКА
			a(class="btn btn--white-sq" href="javascript:") РЕМОНТ ВЫВЕСОК
			a(class="btn btn--white-sq" href="javascript:") ТЕХ. ОБСЛУЖИВАНИЕ