section.services.offset
	.container
		+breadcrumb(['Главная'],
			'Услуги',
			'',
			['/', 'services.html'])
		.services__title-block
			.h1 Наши услуги
			.stb-text
				p Мы предлагаем вам полный цикл, начиная от идеи, бесплатного предварительного эскиза, разработки макета, выбора цветовых решений, до монтажа и размещения рекламных конструкций во всех районах Санкт-Петербурга.
				button.btn.btn--accent.brs-12.btn--xl.jsOpenModal Получить предложение

		.services__grid
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-1.jpg", alt="")
				span.h3 ОБЪЕМНЫЕ БУКВЫ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-2.jpg", alt="")
				span.h3 СВЕТОВЫЕ КОРОБА
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-3.jpg", alt="")
				span.h3 НЕОНОВЫЕ ВЫВЕСКИ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-4.jpg", alt="")
				span.h3 ПАНЕЛЬ-КРОНШТЕЙН
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-5.jpg", alt="")
				span.h3 ТАБЛИЧКИ И УКАЗАТЕЛИ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-6.jpg", alt="")
				span.h3 СТЕЛЛЫ И ПИЛОНЫ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-7.jpg", alt="")
				span.h3 КРЫШНЫЕ УСТАНОВКИ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-8.jpg", alt="")
				span.h3 ВЫВЕСКИ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-9.jpg", alt="")
				span.h3 КОМПЛЕКСНОЕ ОФОРМЛЕНИЕ ОБЪЕКТОВ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-10.jpg", alt="")
				span.h3 ПОЛУЧЕНИЕ РАЗРЕШЕНИЯ НА ВЫВЕСКУ
			a(class="services__grid-item" href="javascript:")
				.img
					img(src="uploads/service/svc-11.jpg", alt="")
				span.h3 УСТАНОВКА И ДЕМОНТАЖ ВЫВЕСОК