section.sp-aio.offset
	.container
		.h2.tac Все услуги в одном месте
		.sp-aio__slider-wrapper
			.sp-aio__slider
				.swiper-wrapper
					.swiper-slide
						a(href="javascript:")
							+img-svg('i-A')
							.h3 ОБЪЕМНЫЕ БУКВЫ
						a(href="javascript:")
							+img-svg('i-B')
							.h3 СВЕТОВЫЕ КОРОБА
						a(href="javascript:")
							+img-svg('i-C')
							.h3 НЕОНОВЫЕ  ВЫВЕСКИ
						a(href="javascript:")
							+img-svg('i-D')
							.h3 ПАНЕЛЬ-КРОНШТЕЙН
					.swiper-slide
						a(href="javascript:")
							+img-svg('i-E')
							.h3 ТАБЛИЧКИ И УКАЗАТЕЛИ
						a(href="javascript:")
							+img-svg('i-F')
							.h3 СТЕЛЛЫ И ПИЛОНЫ
						a(href="javascript:")
							+img-svg('i-G')
							.h3 КРЫШНЫЕ УСТАНОВКИ
						a(href="javascript:")
							+img-svg('i-H')
							.h3 ВЫВЕСКИ
			.sp-aio__btns-prev
				+mono-svg('chevron-right')
			.sp-aio__btns-next
				+mono-svg('chevron-right')
			.sp-aio__pagination.tac