section.our-works.offset
	.container
		.h2 Наши работы по изготовлению ОБЪЕМНЫХ БУКВ
		.our-works__grid.sp-works__grid
			.swiper-wrapper
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-1.jpg")
						img(src="uploads/works/vol-letter-1.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-2.jpg")
						img(src="uploads/works/vol-letter-2.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-3.jpg")
						img(src="uploads/works/vol-letter-3.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-4.jpg")
						img(src="uploads/works/vol-letter-4.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-5.jpg")
						img(src="uploads/works/vol-letter-5.jpg", alt="")
				.swiper-slide.mobile-none
					.sp-block
						p Хотите также? <br>Рассчитайте стоимость или закажите бесплатный дизайн!
						button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Оставить заявку
			.our-works__pagination
		.sp-works__m-block
			p Хотите также? <br>Рассчитайте стоимость или закажите бесплатный дизайн!
			button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Оставить заявку
