section.sp-key.offset
	.container
		.h2.tac Реализуем проекты “под ключ”
		.sp-key__grid
			.sp-key__grid-item
				+img-svg('ch-icon-1')
				.h3 Проектирование
				p Разработка технической и элетро-документации
			.sp-key__grid-item
				+img-svg('ch-icon-2')
				.h3 Согласование
				p Подготовка документов для регистрации. Получение разрешения на установку.
			.sp-key__grid-item
				+img-svg('ch-icon-3')
				.h3 Производство и монтаж
				p Изготовление и установка точно в срок
			.sp-key__grid-item
				+img-svg('ch-icon-4')
				.h3 Команда профессионалов
				p Дизайнер, инженер, менеджер, руководитель – все на связи!