section.sp-steps.offset
	.container
		.sp-steps__title.mb40-sm30
			.h2 Этапы изготовления вашей вывески
			p Изготовление и монтаж рекламы занимает от 3 до 10 дней. Поскольку у нас собственное производство, мы гарантируем, что уложимся в срок.
		.sp-steps__grid
			.sp-steps__grid-item
				.sp-steps__grid-block
					span.h2 1
					.h3 Оформление заказа
					p Вы оставляете заявку на сайте или по телефону. Обсуждаете детали проекта с менеджером компании.
			.sp-steps__grid-item
				+img-svg('arrow-l-right')
			.sp-steps__grid-item
				.sp-steps__grid-block
					span.h2 2
					.h3 Выезд специалиста
					p Наш сотрудник выезжает на объект для проведения всех необходимых замеров, создания фотоотчета.
			.sp-steps__grid-item
				+img-svg('arrow-l-right')
			.sp-steps__grid-item
				.sp-steps__grid-block
					span.h2 3
					.h3 Подготовка документов
					p Мы готовим документы для подачи в госорганы для получения разрешения на размещение.
			.sp-steps__grid-item
				.sp-steps__grid-block
					span.h2 4
					.h3 Создание дизайна
					p Наши специалисты разрабатывают дизайн проекта с учетом всех требований и пожеланий.
			.sp-steps__grid-item
				+img-svg('arrow-l-right')
			.sp-steps__grid-item
				.sp-steps__grid-block
					span.h2 5
					.h3 Производство
					p Стадия реализации проекта. Производственный процесс по созданию вашей будущей вывески.
			.sp-steps__grid-item
				+img-svg('arrow-l-right')
			.sp-steps__grid-item
				.sp-steps__grid-block
					span.h2 6
					.h3 Монтаж
					p Мы производим доставку и монтаж Вашей рекламы в удобное для Вас время с гарантией на все работы.
