section.sp-vars.offset
	.container
		.h2.mb30-sm20 Варианты подсветки объемных букв
		.sp-vars__slider
			.sp-vars__grid
				.sp-vars__grid-item
					.img
						img(src="uploads/service-posts/var-1.jpg", alt="")
					.box
						.h3 ЛИЦЕВОЕ СВЕЧЕНИЕ
						p Объемные буквы из ПВХ пластика с лицевой поверхностью из акрила. Источник света вмонтирован в корпус объемной конструкции. В результате получается эффект мягкого фронтального свечения.
				.sp-vars__grid-item
					.img
						img(src="uploads/service-posts/var-2.jpg", alt="")
					.box
						.h3 КОНТРАЖУРНАЯ ПОДСВЕТКА
						p ОбПодсветка с задней стороны буквы. Монтируется на дистанционные держатели. Этот  эффект создает впечатление, что буквы невесомы и левитируют в воздухе.
				.sp-vars__grid-item
					.img
						img(src="uploads/service-posts/var-3.jpg", alt="")
					.box
						.h3 ЛИЦЕВОЕ+<wbr>ТОРЦЕВОЕ СВЕЧЕНИЕ
						p Полностью изготовлены из акрила. Свет рассеивается не только с лицевой стороны, но также по бортам букв. Таким образом, достигается эффект ореола вокруг конструкции.
				.sp-vars__grid-item
					.img
						img(src="uploads/service-posts/var-4.jpg", alt="")
					.box
						.h3 ДВОЙНОЕ СВЕЧЕНИЕ ЛИЦЕВОЕ+<wbr>КОНТУРАЖ 
						p Буквы с двойным рядом светодиодов. Подсветка лицевой и задней стороны. Благодаря увеличенной яркости часто используются в рекламных установках на высоте.
		.sp-vars__pagination
		.tac
			button.btn.btn--accent.brs-12.btn--xl Заказать вывеску

