section.faq.offset
	.container
		+breadcrumb(['Главная'],
				'Вопрос-ответ',
				'',
				['/', 'faq.html'])
		.faq__block
			.faq__block-accordion
				.h1 Вопрос-ответ
				.accordion-wrapper
					button.accordion-btn Из чего складывается итоговая сумма?
					.accordion-content
						p На любые объемные буквы, табличку и наружную рекламу мы составляем подробную смету, в которой прописано всё, из чего состоит цена. Вы точно знаете за что платите и из чего будет сделана ваша будущие объемные буквы.
					
					button.accordion-btn Правда ли, что у вас бесплатный дизайн?
					.accordion-content
						p На любые объемные буквы, табличку и наружную рекламу мы составляем подробную смету, в которой прописано всё, из чего состоит цена. Вы точно знаете за что платите и из чего будет сделана ваша будущие объемные буквы.

					button.accordion-btn За какую наружную рекламу могут оштрафовать и как этого избежать
					.accordion-content
						p На любые объемные буквы, табличку и наружную рекламу мы составляем подробную смету, в которой прописано всё, из чего состоит цена. Вы точно знаете за что платите и из чего будет сделана ваша будущие объемные буквы.

					button.accordion-btn Что учесть, чтобы наружная реклама сработала хорошо?
					.accordion-content
						p На любые объемные буквы, табличку и наружную рекламу мы составляем подробную смету, в которой прописано всё, из чего состоит цена. Вы точно знаете за что платите и из чего будет сделана ваша будущие объемные буквы.
					
					button.accordion-btn Как оценить эффективность наружной рекламы
					.accordion-content
						p На любые объемные буквы, табличку и наружную рекламу мы составляем подробную смету, в которой прописано всё, из чего состоит цена. Вы точно знаете за что платите и из чего будет сделана ваша будущие объемные буквы.