.container
	.error-404
		.error-404__block
			.error-404__content
				.error-404__title 404
				.h3.error-404__text Извините, страница не найдена, но на нашем сайте еще много интересного
				a(class="btn btn--accent btn--xl brs-12" href="/") На главную страницу
		.error-404__img
			img(src="images/hero-1.png", alt="")