section.prj-tabs.offset
	.container
		+breadcrumb(['Главная'],
			'Наши работы',
			'',
			['/', 'projects.html'])

		.h1.prj-tabs__title Наши проекты

		.prj-tabs__block
			.hth
				button.htb.active(data-tb='one') Объёмные буквы
				button.htb(data-tb='two') Световые короба
				button.htb(data-tb='three') Панели-кронштейны
			.bth
				.btb(data-cnt='one')
					.prj-tabs__grid
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w1.jpg")
								img(src="uploads/projects/prj-w1.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w2.jpg")
								img(src="uploads/projects/prj-w2.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w3.jpg")
								img(src="uploads/projects/prj-w3.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w4.jpg")
								img(src="uploads/projects/prj-w4.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w5.jpg")
								img(src="uploads/projects/prj-w5.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w6.jpg")
								img(src="uploads/projects/prj-w6.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w7.jpg")
								img(src="uploads/projects/prj-w7.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w8.jpg")
								img(src="uploads/projects/prj-w8.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w9.jpg")
								img(src="uploads/projects/prj-w9.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w10.jpg")
								img(src="uploads/projects/prj-w10.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w11.jpg")
								img(src="uploads/projects/prj-w11.jpg", alt="")
						
				.btb(data-cnt='two')
					.prj-tabs__grid
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w3.jpg")
								img(src="uploads/projects/prj-w3.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w1.jpg")
								img(src="uploads/projects/prj-w1.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w2.jpg")
								img(src="uploads/projects/prj-w2.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w4.jpg")
								img(src="uploads/projects/prj-w4.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w5.jpg")
								img(src="uploads/projects/prj-w5.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w6.jpg")
								img(src="uploads/projects/prj-w6.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w7.jpg")
								img(src="uploads/projects/prj-w7.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w8.jpg")
								img(src="uploads/projects/prj-w8.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w9.jpg")
								img(src="uploads/projects/prj-w9.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w10.jpg")
								img(src="uploads/projects/prj-w10.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w11.jpg")
								img(src="uploads/projects/prj-w11.jpg", alt="")

				.btb(data-cnt='three')
					.prj-tabs__grid
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w2.jpg")
								img(src="uploads/projects/prj-w2.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w3.jpg")
								img(src="uploads/projects/prj-w3.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w1.jpg")
								img(src="uploads/projects/prj-w1.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w4.jpg")
								img(src="uploads/projects/prj-w4.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w5.jpg")
								img(src="uploads/projects/prj-w5.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w6.jpg")
								img(src="uploads/projects/prj-w6.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w7.jpg")
								img(src="uploads/projects/prj-w7.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w8.jpg")
								img(src="uploads/projects/prj-w8.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w9.jpg")
								img(src="uploads/projects/prj-w9.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w10.jpg")
								img(src="uploads/projects/prj-w10.jpg", alt="")
						.prj-tabs__grid-item
							a(data-fslightbox="projects" href="uploads/projects/prj-w11.jpg")
								img(src="uploads/projects/prj-w11.jpg", alt="")