section.price-hero.offset
	.container
		+breadcrumb(['Главная'],
			'Цены',
			'',
			['/', 'prices.html', 'service-page.html'])
		.price-hero__promo
			.price-hero__content
				.h1 Из чего складывается <br>цена на вывеску?
				p В стоимость наших услуг входит: графический дизайн-макет, юридическое согласование, услуги персонального менеджера, выполнение проекта «под ключ».
				button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Получить предложение
			.price-hero__img
				img(src="images/hero-price.jpg")
		.price-hero__grid
			.price-hero__grid-item
				i 01
				.h3 Разработка проекта
				p Первым делом необходимо определить тип будущей вывески. Далее учитывая все ваши пожелания, наш Дизайнер создаст проект вывески.
			.price-hero__grid-item
				i 02
				.h3 Затраты на производство и монтаж
				p Производство и монтаж это внутренние затраты компании связанные с оплатой труда сотрудников, а также логистики и накладных расходов.
			.price-hero__grid-item
				i 03
				.h3 Стоимость материалов
				p Выбор материалов для изготовления наружной рекламы напрямую влияет на стоимость вывески.
