section.price-list.offset
	.container
		.h2.tac Цены
		.price-list__text
			p Эффективность бизнеса во многом зависит от качественной рекламы. Привлечь внимание к вашему товару или услуге можно с помощью комплекса мероприятий. Реклама – это лицо и репутация вашей компании.
			p Одним из составляющих успешной рекламной кампании является соотношение цены на размещение и качества рекламного носителя. Это позволяет вам грамотно инвестировать в рекламу. В стоимость наших услуг входит: графический дизайн-макет, юридическое согласование, услуги персонального менеджера, выполнение проекта «под ключ».
			p Обратитесь в нашу компанию «ВИД-Групп» и уточните стоимость размещения рекламы на билбордах, остановках, метро и т.д. Ознакомьтесь с нашими ценами и выберите для себя приемлемый вариант для реализации вашей рекламной идеи.
		
		.price-list__table
			.th Объемные буквы за 1 см. высоты
			.tr Буквы 30 см
				span от 120,00&nbsp;₽
			.tr Буквы 14 см
				span от 125,00&nbsp;₽
			.tr Буквы 10 см
				span от 135,00&nbsp;₽
			.tr Буквы 30 см (лицевая и боковая подсветка)
				span от 230,00&nbsp;₽
			.tr Буквы 25 см подсветка лицевая и боковая
				span от 230,00&nbsp;₽
			.tr Буквы 30 см (круговая подсветка)
				span от 320,00&nbsp;₽
			.tr Буквы 25 см круговая подсветка
				span от 320,00&nbsp;₽
			.tr Буквы 20см с засечкой
				span от 140,00&nbsp;₽
			.tr Буквы 25 см с засечкой
				span от 130,00&nbsp;₽

			.price-list__table
			.th Световой короб
			.tr Короб 1 кв м
				span от 16 000,00&nbsp;₽
			.tr Короб 200х50 см
				span от 16 000,00&nbsp;₽
			.tr Короб 40х40 см
				span от 2 560,00&nbsp;₽
			.tr Короб 150х80 см
				span от 19 200,00&nbsp;₽
			.tr Короб 250х70 см
				span от 28 000,00&nbsp;₽

			.price-list__table
			.th Другие услуги
			.tr Баннер 3х2,5
				span от 890,00&nbsp;₽
			.tr Баннер 1,5х1,5
				span от 890,00&nbsp;₽
			.tr Баннер 0,5х0,7
				span от 890,00&nbsp;₽
			.tr Наклейка 40х125
				span от 870,00&nbsp;₽
			.tr Консоль 40х40
				span от 9 800,00&nbsp;₽
			.tr Согласование рекламной вывески
				span от 10 500,00&nbsp;₽

		.price-list__text
			p В вышеприведенной таблице указана минимальная стоимость размещения наружной рекламы. Как правило, цены на изготовление и размещение зависят от размеров конструкции, ее оснащенности, выбранных вами материалов, способов подсветки, вида размещения рекламной конструкции, ее монтажа, а также учитываются требования к разрешению рекламных изображений.
			p Позвоните нам в компанию, и мы поможем вам рассчитать стоимость изготовления рекламной конструкции, как стандартного, так и индивидуального дизайна, а также сделаем фото-привязку к выбранной местности для большей наглядности.
		