section.contacts.offset
	.container
		+breadcrumb(['Главная'],
			'Контакты',
			'',
			['/', 'contacts.html'])
		.contacts__info
			.contacts__info-item
				.info
					.h3 ОФИС
					p Санкт-Петербург, г. Колпино, ул. Финляндская,  д. 9 стр. 1, офис 202
					p Режим работы: ежедневно с 09.00 до 20:00
				.info
					.h3 ПРОИЗВОДСТВО
					p Санкт-Петербург, г. Колпино, пр. Ленина д. 101, территория КСМ
					p Режим работы: пн-пт с 10.00 до 18.00, сб, вс - выходные дни
				button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Заказать обратный звонок
			.contacts__info-item
				.info
					.h3 ТЕЛЕФОН
					a(href="tel:+78007757098") +7 (800) 775-70-98
				.info
					.h3 ЭЛЕКТРОННАЯ ПОЧТА
					a(href="mailto:hello@vid-group.ru") hello@vid-group.ru
				.ftc-socials
					a(href="javascript:")
						+img-svg('sq-wa')
					a(href="javascript:")
						+img-svg('sq-tg')
					a(href="javascript:")
						+img-svg('sq-vk')
		.full-map.offset
			iframe( src="https://yandex.ru/map-widget/v1/?ll=30.608240%2C59.733547&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgo0MDU0OTc1MTU1Em7QoNC-0YHRgdC40Y8sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQmtC-0LvQv9C40L3Qviwg0KTQuNC90LvRj9C90LTRgdC60LDRjyDRg9C70LjRhtCwLCA50YHQvtC-0YAx0JzQmyIKDQO79EEVhgJvQg%2C%2C&z=12.47" frameborder="1" allowfullscreen="true")

		.maps__grid
			.maps__grid-item
				.h3 КАК НАС НАЙТИ
				iframe( src="https://yandex.ru/map-widget/v1/?ll=30.608240%2C59.733547&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgo0MDU0OTc1MTU1Em7QoNC-0YHRgdC40Y8sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQmtC-0LvQv9C40L3Qviwg0KTQuNC90LvRj9C90LTRgdC60LDRjyDRg9C70LjRhtCwLCA50YHQvtC-0YAx0JzQmyIKDQO79EEVhgJvQg%2C%2C&z=12.47" frameborder="1" allowfullscreen="true" loading="lazy")
			.maps__grid-item
				.h3 ВХОД НА ПРОИЗВОДСТВО
				iframe(src="https://yandex.ru/map-widget/v1/?ll=30.563745%2C59.752347&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzQwODY0MhJf0KDQvtGB0YHQuNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0JrQvtC70L_QuNC90L4sINC_0YDQvtGB0L_QtdC60YIg0JvQtdC90LjQvdCwLCAxMDEiCg13aPRBFbUIb0I%2C&z=12.99" frameborder="1" allowfullscreen="true" loading="lazy")
