section.agreement.offset
	.agreement__grid
		.agreement__grid-item
			.h2 Согласуем вывеску в Комитете по СМИ и КГА
			p На этапе подбора вариантов будущей вывески и разработки дизайн-макета мы учитываем требования действующего в Санкт-Петербурге законодательства:
			ul
				li Постановление № 40 от 31.01.2017 (с изменениями на 16 октября 2020 года);
				li Постановление № 1002 от 20.09.2012 (с изменениями на 16 октября 2020 года).
			p Мы изготавливаем вывески которые 100% согласуют! Наши клиенты могут самостоятельно заниматься согласованием или <br>доверить это нам
			.agreement__grid-btns
				button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Оставить заявку
				a(class="btn-arrow-accent" href="services-page.html") 
					| Подробнее
					+mono-svg('arrow-long')
		.agreement__grid-item
			.agreement__grid-img
				img(src="images/soglasovano.jpg", alt="")