section.blurb.offset
	.container
		.h2 Реклама в Санкт-Петербурге
		.blurb__grid
			.blurb__grid-content
				.text-block
					p Вы начинающий предприниматель или у вас уже есть налаженный, работающий бизнес? Вы предлагаете товар или услуги, хотите увеличить продажи компании, у вас есть возможности и ресурсы для расширения бизнеса. Тем самым вы находитесь в поисках, выбирая эффективные каналы продвижения, рассчитываете на максимально широкий охват целевой аудитории, привлечение потенциальных клиентов, при этом стремясь к оптимизации рекламного бюджета. Среди обилия конкурентов у вас есть возможность заявить о своем бизнесе.
					p Наша компания всегда рада помочь вам в размещении наружной рекламы в Санкт-Петербурге. Команда «Вид-Групп» — это ваш помощник и единомышленник в предпринимательском деле. Мы предлагаем вам полный цикл, начиная от идеи, бесплатного предварительного эскиза, разработки макета, выбора цветовых решений, до монтажа и размещения рекламных конструкций во всех районах города. Создать наружную рекламу и разместить ее в кратчайшие сроки – наша задача. Специалисты с многолетним опытом работы в этой сфере не ориентируются на приевшиеся многим шаблоны. Мы всегда изучаем пожелания заказчика, его видение рекламного макета, визуализацию в местах размещения, но также предлагаем свои креативные идеи и концепции.
					p «Вид-Групп» гарантирует профессиональный подход, разработку оптимального медиаплана, индивидуальные креативные решения для каждого заказчика, помощь с выбором мест размещения, а также гарантию на рекламные носители и своевременное выполнение работ.
				button.btn.btn-blurb.jsHeightBtn
					| Больше информации

			ul.blurb__grid-aside
				li
					span.h3 Делаем качественно
					| Мы используем только качественные материалы и оборудование
				li
					span.h3 Даем гарантию
					| Гарантия на все виды продукции и услуг, которые мы делаем
				li
					span.h3 Оптимальные цены
					| Звоните нам и мы предложим цену, которая вас устроит
