section.clients.offset
	.container
		.h2 Наши клиенты
		.clients__grid-wrapper
			.clients__grid
				.swiper-wrapper
					.swiper-slide
						a(href="javascript:")
							img(src="uploads/clients/cl-tokio.png", alt="")
					.swiper-slide
						a(href="javascript:")
							img(src="uploads/clients/cl-setl.png", alt="")
					.swiper-slide
						a(href="javascript:")
							img(src="uploads/clients/cl-per.png", alt="")
					.swiper-slide
						a(href="javascript:")
							img(src="uploads/clients/cl-bfa.png", alt="")
					.swiper-slide
						a(href="javascript:")
							img(src="uploads/clients/cl-ozon.png", alt="")
					.swiper-slide
						a(href="javascript:")
							img(src="uploads/clients/cl-x5.png", alt="")
			.clients__btns
				.clients__btns-prev
					+mono-svg('chevron-right')
				.clients__btns-next
					+mono-svg('chevron-right')