section.design-promo.offset
	.design-promo__grid
		.design-promo__grid-item
			span.design-promo__grid-label Расчет стоимости и дизайн рекламы за 3 часа
			.h2 Узнайте как будет смотреться <br>ваша вывеска!
			.design-promo__grid-text Отправьте нам фото Вашей торговой точки или фасада любым удобным для вас способом, и в ответ получите фото с привязкой будущей вывески к месту!
			.design-promo__grid-btns
				button.btn.btn--accent.btn--xl.brs-12.jsSignModal Отправить фото
			div
				span Отправить в мессенджер
				.design-promo__grid-socials
					a(href="javascript:")
						+mono-svg('i-tg')
						| @vidgroup
					a(href="javascript:")
						+mono-svg('i-wa')
						| +7 (800) 775-70-98


		.design-promo__grid-item
			.design-promo__grid-img
				img(src="images/promo.jpg")