section.examples.offset
	.container
		.h2 Посмотри примеры для своей сферы бизнеса
		.examples__grid
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-1')
					.h3 Магазины
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-2')
					.h3 Супермаркеты
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-3')
					.h3 Кафе и рестораны
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-4')
					.h3 Фастфуд
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-5')
					.h3 Автобизнес
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-6')
					.h3 Салоны красоты
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-7')
					.h3 Пункты выдачи
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-8')
					.h3 Мед-учреждения
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-9')
					.h3 Аптеки
			.examples__grid-item
				a(href="javascript:")
					+img-svg('bis-10')
					.h3 Торговые центры
			.examples__grid-item.ex-btn
				button(class="btn btn--accent btn--xl brs-12 jsExamples jsOpenModal") Запросить пример из своей сферы