section.hero-home.offset
	.container
		.hero-home__promo
			.hero-home__content
				.hero-home__title Мастерская <br>наружной&nbsp;рекламы <br>в Санкт-Петербурге
				ul.hero-home__list
					li Сделаем вовремя или бесплатно
					li Рассчитаем стоимость рекламы за 1 час
					li Гарантируем законность размещения
				button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Заказать консультацию
			.hero-home__img
				img(src="images/hero-home.jpg")

		.hero-home__grid
			.hero-home__grid-item
				.hero-home__grid-title Общий рейтинг <br>компании на
				.hero-home__grid-title
					img(src="images/ya-rate.png")
			
			.hero-home__grid-item
				i 01
				.hero-home__grid-title Согласование <br>наружной рекламы
				p Вам не придется тратить свое время на походы по инстанциям, мы это сделаем за вас.
			
			.hero-home__grid-item
				i 02
				.hero-home__grid-title Изготовление <br>вывески от 3х дней
				p Изготовление и монтаж от 3 рабочих дней. Работаем сразу после подписания договора.
			
			.hero-home__grid-item
				i 03
				.hero-home__grid-title Гарантия на все <br>изделия 2 года
				p Собственное производство и опытные монтажники. Контроль качества на всех этапах работы.
