section.our-services.offset
	.container
		.h2 Наши услуги по наружной рекламе
		div#jsScrolList.our-services__wrapper
			.our-services__grid
				.our-services__grid-item
					.img
						img(src="uploads/service/service-1.jpg" alt="")
					.h3 УСТАНОВКА И ДЕМОНТАЖ ВЫВЕСОК
					p Квалифицированные работники установят любые рекламные конструкции на ваш фасад, внутри зданий и других местах.
					a(class="btn-arrow-accent" href="blog-page.html") 
						| Подробнее
						+mono-svg('arrow-long')
				
				.our-services__grid-item
					.img
						img(src="uploads/service/service-2.jpg" alt="")
					.h3 КОМПЛЕКСНОЕ ОФОРМЛЕНИЕ ОБЪЕКТОВ
					p Наш опытный дизайнерский отдел разработает креативные и запоминающиеся концепции, которые помогут привлечь внимание вашей целевой аудитории.
					a(class="btn-arrow-accent" href="blog-page.html") 
						| Подробнее
						+mono-svg('arrow-long')
				
				.our-services__grid-item
					.img
						img(src="uploads/service/service-3.jpg" alt="")
					.h3 СОГЛАСОВАНИЕ ВЫВЕСОК
					p Соберем все необходимые документы и согласуем во всех инстанциях размещение ваших рекламных конструкций 
					a(class="btn-arrow-accent" href="blog-page.html") 
						| Подробнее
						+mono-svg('arrow-long')

