section.our-works.offset
	.container
		.h2 Наши работы по изготовлению наружной рекламы
		.our-works__grid
			.swiper-wrapper
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-1.jpg")
						img(src="uploads/works/work-1.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-2.jpg")
						img(src="uploads/works/work-2.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-3.jpg")
						img(src="uploads/works/work-3.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-4.jpg")
						img(src="uploads/works/work-4.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-5.jpg")
						img(src="uploads/works/work-5.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="our-works" href="uploads/works/work-6.jpg")
						img(src="uploads/works/work-6.jpg", alt="")
			.our-works__pagination
		.tac
			a(class="btn btn--accent btn--xl brs-12 our-works__btn" htref="projects.html") Смотреть все