section.sales-hit.offset
	.sales-hit__grid
		.sales-hit__grid-item
			.h2 Хит продаж — Объемные буквы
			.h3 Вывеска из объёмных букв c лицевым свечением
			ul.hero-home__list
				li Герметичные буквы переживут любые перепады температур
				li Лицевая часть – Молочный акрил (3мм) + Плёнка Оrасаl 641
				li Борта из ПВХ (3мм) + Цветная плёнка Оrасаl 641
				li Подсветка светодиодными кластерами
				li Уличный блок питания + Изолированная проводка
				li Буквы собираются на алюминиевые направляющие
			span.price от 4 000,00 ₽
			.sales-hit__grid-btns
				button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Оставить заявку
				a(class="btn-arrow-accent" href="services-page.html") 
					| Подробнее
					+mono-svg('arrow-long')

		.sales-hit__grid-item
			.sales-hit__slider
				.swiper-wrapper
					.swiper-slide
						img(src="images/hit.jpg", alt="")
					.swiper-slide
						img(src="images/hit.jpg", alt="")
					.swiper-slide
						img(src="images/hit.jpg", alt="")
				.sales-hit__pagination