section.signs.offset
	.container
		.h2.tac Вывески
		.signs__grid
			a(class="signs__grid-item" href="#")
				+img-svg('i-A')
				span.h3 ОБЪЕМНЫЕ БУКВЫ
			a(class="signs__grid-item" href="#")
				+img-svg('i-B')
				span.h3 СВЕТОВЫЕ КОРОБА
			a(class="signs__grid-item" href="#")
				+img-svg('i-C')
				span.h3 НЕОНОВЫЕ ВЫВЕСКИ
			a(class="signs__grid-item" href="#")
				+img-svg('i-D')
				span.h3 ПАНЕЛЬ-КРОНШТЕЙН
			a(class="signs__grid-item" href="#")
				+img-svg('i-E')
				span.h3 ТАБЛИЧКИ И УКАЗАТЕЛИ
			a(class="signs__grid-item" href="#")
				+img-svg('i-F')
				span.h3 СТЕЛЛЫ И ПИЛОНЫ
			a(class="signs__grid-item" href="#")
				+img-svg('i-G')
				span.h3 КРЫШНЫЕ УСТАНОВКИ
			a(class="signs__grid-item" href="#")
				+img-svg('i-H')
				span.h3 ВЫВЕСКИ
		.tac
			a(class="btn btn--accent btn--xl brs-12" href="services.html") Показать все услуги