section.testimonials.offset
	.container
		.testimonials__table
			.testimonials__table-row
				.testimonials__grid-wrapper
					.h2 Отзывы о нашей работе
					.testimonials__grid
						.swiper-wrapper
							.swiper-slide
								.quote
									+img-svg('quote')
								.text
									p Заказывали светящийся короб и оклейку стекол. Менеджер все подробно рассказал, помогли с выбором. 
									p Демонтаж старых наклеек был выполнен быстро и аккуратно. Светящийся короб также был установлен очень быстро. Огромное спасибо&#41;
								.client
									span Ксения Чернова
									span Кофейня Зерна вкуса
							.swiper-slide
								.quote
									+img-svg('quote')
								.text
									p Обратился в компанию для изготовления вывесок, менеджеры все подробно рассказали, составили смету и сделали 3D визуализацию проекта, качество и точность изготовления очень порадовало, отдельное спасибо мастеру монтажнику за чистую и оперативную работу! Буду рекомендовать знакомым👍
								.client
									span Богдан Олюнин
									span Стоматология Доктора Олюнина
							.swiper-slide
								.quote
									+img-svg('quote')
								.text
									p Заказывали светящийся короб и оклейку стекол. Менеджер все подробно рассказал, помогли с выбором. 
									p Демонтаж старых наклеек был выполнен быстро и аккуратно. Светящийся короб также был установлен очень быстро. Огромное спасибо&#41;
								.client
									span Ксения Чернова
									span Кофейня Зерна вкуса
							.swiper-slide
								.quote
									+img-svg('quote')
								.text
									p Обратился в компанию для изготовления вывесок, менеджеры все подробно рассказали, составили смету и сделали 3D визуализацию проекта, качество и точность изготовления очень порадовало, отдельное спасибо мастеру монтажнику за чистую и оперативную работу! Буду рекомендовать знакомым👍
								.client
									span Богдан Олюнин
									span Стоматология Доктора Олюнина
							.swiper-slide
								.quote
									+img-svg('quote')
								.text
									p Заказывали светящийся короб и оклейку стекол. Менеджер все подробно рассказал, помогли с выбором. 
									p Демонтаж старых наклеек был выполнен быстро и аккуратно. Светящийся короб также был установлен очень быстро. Огромное спасибо&#41;
								.client
									span Ксения Чернова
									span Кофейня Зерна вкуса
					.testimonials__pagination
					.tac
						a(class="btn btn--accent btn--xl brs-12" href="javascript:") Оставить свой отзыв
			.testimonials__table-row
				a(class="ya-card" href="javascript:")
					img(src="images/ya-card.jpg", alt="")

