section.useful-posts.jsTab.offset
	.container
		.h2 Полезные статьи и публикации 
	.roll
		.container-right
			ul.jsCatList.roll-list
				li.roll-item.thb.active(data-btn='one')
					button.accent-hover Юридические аспекты рекламы
				li.roll-item.thb(data-btn='two')
					button.accent-hover Наружная реклама
				li.roll-item.thb(data-btn='three')
					button.accent-hover Материалы и технологии
				li.roll-item.thb(data-btn='four')
					button.accent-hover Световая реклама
				li.roll-item.thb(data-btn='five')
					button.accent-hover Ценообразование в рекламе
		.container-transform
			div(class="tbc" data-text="one")
				.useful-slider.jsCatList
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-1.jpg", alt="")
						.useful-slider__card-content
							span 01.01.2024
							.h3 Этапы согласования наружной рекламы – как это делается?
							p.clap Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-2.jpg", alt="")
						.useful-slider__card-content
							span 02.01.2024
							.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
							p.clap Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-3.jpg", alt="")
						.useful-slider__card-content
							span 03.01.2024
							.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
							p.clap Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов.

			div(class="tbc" data-text="two")
				.useful-slider.jsCatList
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-1.jpg", alt="")
						.useful-slider__card-content
							span 01.01.2024
							.h3 Этапы согласования наружной рекламы – как это делается?
							p.clap Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-2.jpg", alt="")
						.useful-slider__card-content
							span 02.01.2024
							.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
							p.clap Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-3.jpg", alt="")
						.useful-slider__card-content
							span 03.01.2024
							.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
							p.clap Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов.
			
			div(class="tbc" data-text="three")
				.useful-slider.jsCatList
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-1.jpg", alt="")
						.useful-slider__card-content
							span 01.01.2024
							.h3 Этапы согласования наружной рекламы – как это делается?
							p.clap Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-2.jpg", alt="")
						.useful-slider__card-content
							span 02.01.2024
							.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
							p.clap Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-3.jpg", alt="")
						.useful-slider__card-content
							span 03.01.2024
							.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
							p.clap Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов.
			
			div(class="tbc" data-text="four")
				.useful-slider.jsCatList
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-1.jpg", alt="")
						.useful-slider__card-content
							span 01.01.2024
							.h3 Этапы согласования наружной рекламы – как это делается?
							p.clap Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-2.jpg", alt="")
						.useful-slider__card-content
							span 02.01.2024
							.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
							p.clap Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-3.jpg", alt="")
						.useful-slider__card-content
							span 03.01.2024
							.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
							p.clap Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов.
			
			div(class="tbc" data-text="five")
				.useful-slider.jsCatList
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-1.jpg", alt="")
						.useful-slider__card-content
							span 01.01.2024
							.h3 Этапы согласования наружной рекламы – как это делается?
							p.clap Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-2.jpg", alt="")
						.useful-slider__card-content
							span 02.01.2024
							.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
							p.clap Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
					.useful-slider__card
						.useful-slider__card-img
							img(src="uploads/posts/post-3.jpg", alt="")
						.useful-slider__card-content
							span 03.01.2024
							.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
							p.clap Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов.

		.tac.mt40-sm30
			a(class="btn btn--accent btn--xl brs-12" href="blog.html") Показать больше