section.hero-home.service-page.sign-page.offset
	.container
		+breadcrumb(['Главная'],
			'Как заказать вывеску',
			'',
			['/', 'sign.html'])
		.hero-home__promo
			.hero-home__content
				.h1 Как заказать вывеску
				ul.hero-home__list
					li Сделаем вовремя или бесплатно
					li Рaсчeт любой вывески в течение 30 минут
					li Выезжаем на зaмeр нa слeдующий день – бесплатно
					li  Изготовление и монтаж вывески от 3 рабочих дней
				button.btn.btn--accent.btn--xl.brs-12.jsOpenModal Получить предложение
			.hero-home__img
				img(src="images/hero-2.png")
		.sp-key__grid
			.sp-key__grid-item
				+img-svg('ch-icon-1')
				.h3 Проектирование
				p Разработка технической и элетро-документации
			.sp-key__grid-item
				+img-svg('ch-icon-2')
				.h3 Согласование
				p Подготовка документов для регистрации. Получение разрешения на установку.
			.sp-key__grid-item
				+img-svg('ch-icon-3')
				.h3 Производство и монтаж
				p Изготовление и установка точно в срок
			.sp-key__grid-item
				+img-svg('ch-icon-4')
				.h3 Команда профессионалов
				p Дизайнер, инженер, менеджер, руководитель – все на связи!
