section.bp-intrest.offset
	.container
		.h2.mb30-sm20 Вам может быть интересно
		.bp-intrest__slider
			.swiper-wrapper
				.swiper-slide
					.img
						img(src="uploads/posts/post-1.jpg", alt="")
					span 01.01.2024
					.h3 Этапы согласования наружной рекламы – как это делается?
					p Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо
				.swiper-slide
					.img
						img(src="uploads/posts/post-2.jpg", alt="")
					span 01.01.2024
					.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
					p Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
				.swiper-slide
					.img
						img(src="uploads/posts/post-3.jpg", alt="")
					span 01.01.2024
					.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
					p Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов. 
				.swiper-slide
					.img
						img(src="uploads/posts/post-4.jpg", alt="")
					span 01.01.2024
					.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
					p Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов. 
				.swiper-slide
					.img
						img(src="uploads/posts/post-3.jpg", alt="")
					span 01.01.2024
					.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
					p Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов. 