section.blog.offset
	.container
		+breadcrumb(['Главная'],
			'Блог',
			'',
			['/', 'blog.html'])
		.h1 Полезные статьи

		.blog__grid
			.blog__grid-posts
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-1.jpg", alt="")
					span 01.01.2024
					.h3 Этапы согласования наружной рекламы – как это делается?
					p Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо 
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-2.jpg", alt="")
					span 02.01.2024
					.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
					p Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-3.jpg", alt="")
					span 02.01.2024
					.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
					p Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов. 
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-4.jpg", alt="")
					span 02.01.2024
					.h3 Требования к установке вывесок в Санкт-Петербурге: правила и нормы
					p Всем известно, что Санкт-Петербург славится не только своей историей, но и строгими правилами, касающимися его облика, в том числе и размещения наружной рекламы. 
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-2.jpg", alt="")
					span 02.01.2024
					.h3 Рекламные лайтбоксы – от классической формы к нестандартной конструкции
					p Световой короб или рекламный лайтбокс привлекает внимание и эффектно позиционирует продукт благодаря яркости и необычности. Это популярное средство outdoor-рекламы, которое можно устанавливать практически везде.
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-1.jpg", alt="")
					span 01.01.2024
					.h3 Этапы согласования наружной рекламы – как это делается?
					p Размещение рекламы на фасадах зданий без разрешения является недопустимым и может повлечь за собой наказание. Для того, чтобы избежать таких проблем необходимо 
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-4.jpg", alt="")
					span 02.01.2024
					.h3 Требования к установке вывесок в Санкт-Петербурге: правила и нормы
					p Всем известно, что Санкт-Петербург славится не только своей историей, но и строгими правилами, касающимися его облика, в том числе и размещения наружной рекламы.
				div(class="blog__grid-post" data-postlink="/")
					.img
						img(src="uploads/posts/post-3.jpg", alt="")
					span 02.01.2024
					.h3 Почему объемные буквы — это выгодное решение для вашего бизнеса в Санкт-Петербурге
					p Объемные буквы представляют собой эффективный инструмент наружной рекламы, который позволяет выделить ваш бизнес на фоне конкурентов. 

			.blog__grid-aside
				form.search-field
					input(type="text" placeholder="Поиск Статьи")
				.slide-list__wrapper
					.slide-list
						span.foo-list__title Рубрики
						ul.foo-list
							li
								a(href="blog-page.html") Баннеры
							li
								a(href="jblog-page.html") Вывески
							li
								a(href="blog-page.html") Неоновые вывески
							li
								a(href="blog-page.html") Объемные буквы
							li
								a(href="blog-page.html") Световой короб
							li
								a(href="blog-page.html") Таблички
							li
								a(href="blog-page.html") Услуги

					.slide-list
						span.foo-list__title Полезные статьи
						ul.foo-list
							li
								a(href="blog-page.html") Особенности вывески для магазина продуктов
							li
								a(href="blog-page.html") Виды пленки для наружной рекламы
							li
								a(href="blog-page.html") Виды пленки для наружной рекламы
							li
								a(href="blog-page.html") Роль подсветки в повышении эффективности наружной рекламы
							li
								a(href="blog-page.html") Как сохранить вывеску в хорошем состоянии

		.pagination-wrapper
			.pagination
				button.pagination-prev.disable
					+mono-svg('chevron-right')
				ul.pagination-list
					li.active
						a(href='blog.html') 1
					li
						a(href='blog.html#2') 2
					li
						a(href='blog.html#3') 3
					li
						a(href='blog.html#4') 4
					li
						a(href='blog.html#5') 5
				button.pagination-next
					+mono-svg('chevron-right')
